body{
  background-color: #cccccc;
  display: inline-block;
  text-align: center;
}

.hide{
  display: none;
}

.page{
  width: 800px;
  float:left;
  background-color: #9999cc;
}

.header{
  background-color: #33ccff;
  margin-bottom: 10px;
  padding: 20px 0px 20px 0px;
  font-size: 30px;
}

.leftPanel{
  float:left;
  width: 200px;
}

.main{
  float:right;
  width: 600px;
}


/*tabbing*/
.tabMenu{
  height: 25px;
  width: 100%;
}

.tabItem{
  float: left;
  width: 49%;
  text-align: center;
  border: solid;
  border-color: #99ccff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-width: 3px;
  background-color: #cccccc;
}

.activeTab{
  background-color: #99ccff;
}

.tab{
  width: 99%;
  border: solid;
  border-width: 3px;
  border-color: #99ccff;
}

.myTweet {
  height: 70px;
}

/*left side*/
/*profile*/
.profile{
  background-color: blue;
  height: 70px;
  border-radius: 20px;
  background-color: #99ccff;
  margin: 0% 5% 0% 5%;
  padding: 0% 5% 0% 5% ;
}

/*options*/
.optionList{
  background-color: yellow;
}

/*user listing*/
.userList{
}

.userToggle{
  margin: 10px 10% 10px 10%;
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  border-width: 3px;
  padding: 3px 3px 3px 3px;
  border: solid;
  border-color: #00cc00;
}

.userList > .toggleShow{
  background-color: #00cc00;
  font-style: bold;
  color: white;
}

.userList > .toggleHide{
  text-decoration:line-through;
  background-color: #999999;
  color: black;
}

.userList > .hover{
  border: solid;
  border-color: #006600;
}

/*right side*/
/*tweet holders*/
.holder{

}

.newHolder > .tweet{
  background-color: #99ffff;
}

.newHolder > .tweet > .tweetUser > .newTag{
  display: block;
  float: left;
}

.tweet > .tweetUser > .newTag{
  display: none;
}


/*tweet*/
.tweet{
  text-align: left;
  background-color: #ccffff;
  border:solid;
  border-color: blue;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px 10px 10px 10px;
}

/*input*/
.buttons{
  height: 100%;
  width: 12%;
  float: right;
}

#clear {
  height: 35%;
  width: 100%;
}

#send{
  height: 65%;
  width: 100%;
}

.draft{
  float: left;
  height: 90%;
  max-height: 90%;
  width: 85%;
  max-width: 85%;
}

/*name*/
.name{
  height: 25px;
  width: 140px;
  padding: 10px 10px 10px 10px; 
}

.nameLabel {
  width: 140px;
  height: 20px;
}

.nameField{
  background-color: #cccccc;
  width: 140px;
  height: 20px;
  max-height: 20px;
}

.nameButtons{
  height: 30%;
}

.nameButton{
  float: left;
  width: 70px;
  text-align: center;
  background-color: #3333ff;
  border-radius: 10px; 
  margin-left: 5px;
  margin-right: 5px;
}

.nameAlert{
  height: 8px;
  font-size: 8px;
}

#edit {
  width: 100%;
}