.page{
  width: 800px;
  float: left;
}

.header{
  background-color: red;
}

.leftPanel{
  float:left;
  width: 200px;
}

.main{
  float:right;
  width: 600px;
}


/*tabbing*/
.tabMenu{
  height: 25px;
  width: 100%;
}

.tabItem{
  float: left;
  width: 49%;
  text-align: center;
  border: solid;
  border-color: #99ccff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-width: 3px;
}

.activeTab{
  background-color: #99ccff;
}

.tab{
  width: 99%;
  border: solid;
  border-width: 3px;
  border-color: #99ccff;
  background-color: #ffffff;
}

/*left side*/
/*profile*/
.profile{
  background-color: blue;
}

/*options*/
.optionList{
  background-color: yellow;
}

/*user listing*/
.userList{
}

.userToggle{
  margin: 10px 10% 10px 10%;
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
  height: 20px;
  text-align: center;
  font-size: 16px;
}

.userList > .toggleShow{
  background-color: #00cc00;
  font-style: bold;
  color: white;
}

.userList > .toggleHide{
  text-decoration:line-through;
  background-color: #cccccc;
  color: black;
}

.userList > .hover{
  border: solid;
  border-color: #006600;
  border-width: 3px;
  padding: 2px 2px 2px 2px;
}

/*right side*/
/*tweet holders*/
.holder{

}

.newHolder > .tweet{
  background-color: #99ffff;
}

/*tweet*/
.tweet{
  background-color: #ccffff;
  border:solid;
  border-color: blue;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px 5px 5px 5px;
}