.hide{
  display: none;
}


.page{
  width: 800px;
  float: left;
}

.header{
  background-color: red;
}

.leftPanel{
  float:left;
  width: 300px;
}

.main{
  float:left;
  width: 500px;
}

.profile{
  background-color: blue;
}

.optionList{
  background-color: yellow;
}

.userList{
  background-color: cyan;
}

.userToggle{
  background-color: grey;
}

.userList > .toggleShow{
  background-color: green;
}

.holder{

}

.newHolder{
  border: solid;
  border-color: blue;
  border-radius: 10px;
}

.newHolder > .tweet{
  background-color: cyan;
}

.oldHolder > .tweet{
  background-color: magenta;
}

.archiveHolder > .tweet{
  background-color: grey;
}

.tweet{
  border:solid;
  border-color: blue;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px 5px 5px 5px;
}